*{margin: 0;padding: 0;box-sizing: border-box;}
canvas{position: absolute;z-index: -1;top:0;left:0}
body{overflow: hidden;background-color: black;}
.target{
	position: absolute;
	opacity: 0;
	width: 32px;
	aspect-ratio: 1/1;
	transform: rotate(-25deg);
	transition: opacity .25s ease-in;
	z-index:1;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	svg{
		position: relative;
		width: 100%;
		height: 100%;
		align-self: 1/1;
	}
}
body {
	font-family: Arial, sans-serif;
	background-color: #000729;
}
body:hover{
	.target{
		opacity: 1;
		transition-duration: .25s;
	}
	svg{
		fill:rgba(172, 255, 47, 0.5);
	}
}



.chat-container {
z-index: 3;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	/* background-color: #fff; */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);

	height: calc(100% - 10px);
	height: calc(100svh - 10px);
	width: calc(100% - 10px);
	width: calc(100svw - 10px);
	max-width: 600px;

	/* display: grid;
	grid-template-columns: 1;
	
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 10fr auto auto; */

	overflow: hidden;
	display: flex;
	flex-direction: column;


	.header-container {
		background-color: #4CAF50;
		color: #fff;
		padding: 15px;
		text-align: center;
		font-size: 18px;
		width: 100%;
	}


	.join-container {
		width: 100%;
		background-color: #525252;
		.message-data {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;

			.mess {
				margin: 2px;
				background-color: #c2b099;
				margin: 2px;
				padding: 2px 7px;
				border-radius: .2rem;
			}

			.mess[data-type="name"] {
				background-color: #ffffff;
			}

		}
	}

	.message-container {
		overflow-y: auto;
		/* background-color: #c2b099; */
		flex-grow: 1;
		.message {
			/* background-color: #a7dfff; */
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding:5px;

			.message-paquet {
				max-width: 90%;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
				/* background-color: #1c1e1f; */
					border-radius: 5px;
				padding: .2rem;
				background-color: #ffe0a7;
				.message-author {
					width: 100%;
					/* border-top-left-radius: 5px;
					border-top-right-radius: 5px; */
					display: flex;
					flex-direction: row;
					justify-content: stretch;
					padding: .2rem;
					padding-bottom: 0;
					border-bottom: 1px solid #ffffff;
					background-color: #ffffffce;

					.span-name {
						width: fit-content;
					}
					.span-time {
						justify-self: flex-end;
					}
				}
				.message-text {
					width: 100%;
					padding: 0 .2rem;
					background-color: #ffffffce;
					/* border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px; */
				}
			
			}
			&.admin{
				align-items: center;
				.message-paquet{background-color: #d7a7ff;}
			}
			&.other{
				align-items: flex-end;
				.message-paquet{background-color: #a7ffbd;}
			}
		}
	}

	.room-container{
		background-color: #8d8d8d;
		border-bottom: 1px solid rgb(102, 102, 102);
	}
	.room-container {
		background-color: #a7a7a7;
	}

	.activity-container {
		/* position: absolute; */
		background-color: #4CAF50;
		color: #fff;
		text-align: center;
		font-size: 18px;
		padding: 15px;
	}

	.sender-container {
		padding: 5px;
		border-top: 1px solid #ddd;
		background-color: #000000;
		.form-sender {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-flow: row wrap;
			align-items: center;
			width: 100%;
			.inputsender{
				border:0;
				flex-grow: 1;
				input[type="text"] {
					padding: 10px;
					border: 1px solid #ddd;
					border-radius: 5px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					background-color: #ebebeb;
					width: 100%;
				}

			}
			.button {
				border-radius: 5px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				padding: 10px 15px;
				background-color: #4CAF50;
				color: #fff;
				border: 1px solid #ddd;
				cursor: pointer;
			}
		}
	}
}
.user-container,
.room-container {
	top: 250px;
	right:0px;
	position:absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 2px 2px 2px 2px;
	margin: 0;
	height: 100px;
	width: 100px;
	z-index:9999999999;
	background-color: #ffffff;
	border-top-left-radius:.5rem ;
	border-bottom-left-radius:.5rem ;

	.user {
		padding: .2rem .5rem;
		background-color: #49443c;
	}
	.room {
		padding: .2rem .5rem;
		background-color: #c2b099;
	}
}
.user-container {
	top: 50px;
}